@use 'styles/values';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(values.$card-min-width, 1fr));
  gap: values.$grid-gap;
  align-items: stretch;
  grid-auto-rows: 1fr;
}
